html {
  margin: 0;
  font-size: 10px; }
  @media (max-width: 576px) {
    html {
      font-size: 8px; } }

img {
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  background-color: #f3f3f3;
  font-size: 1.4rem;
  font-family: "Raleway", sans-serif; }

.container {
  max-width: 1145px; }

.header {
  min-height: 647px;
  background: url(../img/header-bg.jpg) no-repeat;
  background-size: cover; }
  .header .top-nav {
    padding-top: 33px; }
    .header .top-nav .nav-button .button {
      width: 22px;
      height: 16px;
      background-image: url(../img/nav-menu.png);
      background-color: rgba(0, 0, 0, 0);
      border: none;
      cursor: pointer; }
      @media (max-width: 768px) {
        .header .top-nav .nav-button .button {
          display: none; } }
    .header .top-nav .col-md2 {
      font-family: "Raleway", sans-serif;
      display: flex;
      color: #000; }
      @media (max-width: 770px) {
        .header .top-nav .col-md2 {
          justify-content: space-between; } }
      .header .top-nav .col-md2 .filter {
        display: flex;
        flex-direction: row;
        position: relative;
        bottom: 20px;
        line-height: 48px; }
        @media (max-width: 500px) {
          .header .top-nav .col-md2 .filter {
            margin: 0 auto; } }
        .header .top-nav .col-md2 .filter_1::before {
          content: "";
          position: absolute;
          top: 22px;
          left: -2px;
          width: 10px;
          height: 12px;
          background: url(../img/nav-user.png) no-repeat; }
          @media (max-width: 576px) {
            .header .top-nav .col-md2 .filter_1::before {
              background-size: 80%;
              left: 2px;
              top: 23px; } }
        .header .top-nav .col-md2 .filter_2::before {
          content: "";
          position: absolute;
          top: 22px;
          left: 171px;
          width: 10px;
          height: 12px;
          background: url(../img/nav-rub.png) no-repeat; }
          @media (max-width: 576px) {
            .header .top-nav .col-md2 .filter_2::before {
              left: 150px;
              background-size: 80%; } }
          @media (max-width: 350px) {
            .header .top-nav .col-md2 .filter_2::before {
              left: 127px;
              top: 23px; } }
        .header .top-nav .col-md2 .filter fieldset {
          margin-right: 25px;
          border: 0 none; }
          @media (max-width: 350px) {
            .header .top-nav .col-md2 .filter fieldset {
              margin-right: 0; } }
          .header .top-nav .col-md2 .filter fieldset legend {
            display: none; }
          .header .top-nav .col-md2 .filter fieldset select {
            font-size: 1.4rem;
            border: none;
            background: rgba(0, 0, 0, 0); }
      .header .top-nav .col-md2 .nav-contact {
        position: relative;
        bottom: 10px; }
        @media (max-width: 500px) {
          .header .top-nav .col-md2 .nav-contact {
            display: none; } }
        .header .top-nav .col-md2 .nav-contact p {
          margin: 0;
          font-weight: 700; }
        .header .top-nav .col-md2 .nav-contact span {
          white-space: nowrap; }
  .header .jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .header .jumbotron_quote {
      font-family: "Roboto Slab", serif;
      color: #0d3351; }
      .header .jumbotron_quote h1 {
        text-align: center;
        font-size: 3.6rem;
        line-height: 48px; }
        .header .jumbotron_quote h1 p {
          margin-top: 50px;
          text-transform: uppercase;
          font-size: 100px;
          line-height: 100px; }
          @media (max-width: 713px) {
            .header .jumbotron_quote h1 p {
              font-size: 80px;
              line-height: 80px; } }
          @media (max-width: 575px) {
            .header .jumbotron_quote h1 p {
              margin-bottom: 120px;
              font-size: 70px;
              line-height: 70px; } }
          @media (max-width: 507px) {
            .header .jumbotron_quote h1 p {
              font-size: 50px;
              line-height: 50px; } }
    .header .jumbotron_button {
      display: inline-block;
      padding: 15px 50px;
      margin-top: -45px;
      background-color: #33c7fd;
      color: #fff;
      text-decoration: none; }
      .header .jumbotron_button:hover {
        background-color: #6dd1f5; }

.catalog_quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 20px;
  font-family: "Roboto Slab", serif;
  color: #0d3351; }
  @media (max-width: 711px) {
    .catalog_quote {
      margin-top: 20px; } }
  .catalog_quote h3 {
    position: relative;
    font-size: 3.6rem;
    margin-bottom: 10px;
    letter-spacing: 1px; }
    .catalog_quote h3::before {
      content: "";
      position: absolute;
      left: 70px;
      bottom: 45px;
      width: 163px;
      height: 300px;
      background: url(../img/btn-after.png) no-repeat; }
      @media (max-width: 1060px) {
        .catalog_quote h3::before {
          height: 180px; } }
      @media (max-width: 711px) {
        .catalog_quote h3::before {
          display: none; } }
  .catalog_quote fieldset {
    border: 0 none; }
    .catalog_quote fieldset legend {
      display: none; }
    .catalog_quote fieldset select {
      border: none;
      background: rgba(0, 0, 0, 0); }
      .catalog_quote fieldset select span {
        font-style: italic; }
.catalog .card {
  background-color: #fff;
  margin-bottom: 20px; }
  .catalog .card .card-info {
    padding-left: 40px;
    color: #1d415d; }
    .catalog .card .card-info a {
      display: inline-block;
      position: relative;
      margin: 0;
      padding-right: 15px;
      font-family: "Roboto Slab", serif;
      font-size: 1.8rem;
      color: #00a2dd;
      text-decoration: none;
      letter-spacing: 0.5px; }
      .catalog .card .card-info a::after {
        content: "";
        position: absolute;
        bottom: 4px;
        width: 15px;
        height: 15px;
        background: url(../img/right-arrow.png) no-repeat;
        background-position: 6px 5px; }
    .catalog .card .card-info p {
      font-family: "Raleway", sans-serif;
      margin: 0;
      margin-bottom: 10px; }
    .catalog .card .card-info .tour-price {
      font-size: 3rem;
      padding-top: 5px;
      padding-bottom: 28px; }
.catalog .card-1 {
  position: relative; }
  .catalog .card-1::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 40px;
    width: 16.04%;
    height: 23.11%;
    background: url(../img/hit-flag.png) no-repeat;
    background-size: 100%; }
.catalog .card-3 {
  position: relative; }
  .catalog .card-3::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 40px;
    width: 16.04%;
    height: 89.38%;
    background: url(../img/event-flag.png) no-repeat;
    background-size: 100%; }
.catalog .card-4 {
  position: relative; }
  .catalog .card-4::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 40px;
    width: 16.04%;
    height: 89.38%;
    background: url(../img/discount-flag.png) no-repeat;
    background-size: 100%; }
.catalog .button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 65px;
  padding: 15px 39px;
  max-width: 203px;
  max-height: 45px;
  background-color: #33c7fd;
  color: #fff;
  text-decoration: none; }
  .catalog .button:hover {
    background-color: #6dd1f5; }
  .catalog .button::after {
    content: "";
    position: absolute;
    right: 30px;
    top: 21px;
    width: 10px;
    height: 5px;
    background: url(../img/down-arrow.png) no-repeat; }

.footer {
  background-color: #fff;
  color: #1d415d; }
  @media (max-width: 576px) {
    .footer {
      font-size: 1.8rem; } }
  .footer p {
    position: relative;
    top: 15px; }
  .footer ul {
    list-style: none;
    padding: 0;
    margin-top: 30px; }
    .footer ul li {
      margin-bottom: 10px; }
      .footer ul li a {
        text-decoration: none;
        color: #1d415d; }
  @media (max-width: 576px) {
    .footer .about {
      display: none; } }
  @media (max-width: 576px) {
    .footer .social-list {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .footer .social-list p {
    margin-bottom: 0; }
  .footer_social {
    display: flex; }
    .footer_social_vk {
      background-image: url(../img/vk.svg);
      background-repeat: no-repeat;
      background-position: 6px 10px; }
    .footer_social_ok {
      background-image: url(../img/ok.svg);
      background-repeat: no-repeat;
      background-position: 11px 7px; }
    .footer_social_yt {
      background-image: url(../img/yt.svg);
      background-repeat: no-repeat;
      background-position: 9.2px 6px; }
    .footer_social_im {
      background-image: url(../img/insta.svg);
      background-repeat: no-repeat;
      background-position: 9.1px 9px; }
    .footer_social li {
      margin-right: 10px; }
      .footer_social li a {
        display: inline-block;
        width: 32px;
        height: 32px;
        background-color: #0d3351;
        border-radius: 50%; }
        .footer_social li a:hover {
          background-color: #194669; }
  .footer_contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 15px; }
    @media (max-width: 576px) {
      .footer_contact {
        align-items: center;
        margin-top: -30px; }
        .footer_contact p {
          display: inline-block;
          margin-top: 5px; } }
    .footer_contact p {
      margin-bottom: 0; }

/*# sourceMappingURL=main.css.map */
